$font-size-base: 18px;
$line-height-base: 24px;
$font-size-input: 14px;
$line-height-input: 20px;

$body-bg: #fff;
$home-bg-hover: #4baff4;
$btn-yellow-bg: #d4c43e;
$btn-yellow-bg-hover: #eedc46;
$btn-blue-bg: #4baff4;
$block-plan-color: #40a6ec;
$tooltip-bg: #b03ace;
$btn-bg: #068ac8;
$footer-bg: #fafafa;
$white-bg: #fff;

$body-color: #fff;
$menu-color: #fff;
$icons-hover: #4baff4;
$link-color: #fff;
$input-color: #000;
$placeholder-color: #454545;
$hover-opacity: 0.8;
$white-color: #fff;
$black-color: #000;

$border-white: #fff;