$font-size-base: 16px;
$line-height-base: 19px;

$font-size-title: 48px;
$line-height-title: 50px;

$font-size-label: 13px;
$line-height-label: 18px;

$font-size-input: 14px;
$line-height-input: 20px;

$body-bg: #fff ;
$btn-bg: #068ac8;
$footer-bg: #fafafa;
$white-bg: #fff;
$btn-play-bg: #068ac8;

$body-color: #4d4d4d;
$logo-color: #3275a1;
$link-color: #4d4d4d;
$border-color: #e8e8e8;
$label-color: #2e9ccf;
$input-color: #000;
$placeholder-color: #000;
$hover-opacity: 0.8;
$white-color: #fff;