$font-size-base: 14px;
$line-height-base: 16px;

$font-size-input: 16px;
$line-height-input: 24px;

$body-bg: #fff;
$header-bg: #020d25;
$footer-bg: #1a1e23;
$white-bg: #fff;
$black-bg: #000;
$nav-toogle-bg: #428bca;
$btn-bg: #01327e;
$btn-bg-hover: #286090;
$linkedin-hover: #006599;

$body-color: #000;
$logo-color: #3275a1;
$border-color: #a5b1e8;
$input-color: #000;
$placeholder-color: #b9b9b9;
$hover-opacity: 0.8;
$white-color: #fff;
$black-color: #000;

$header-menu-color: #fff;
$header-menu-color-hover: #66a3ff;
$footer-menu-color: #fff;
$border-white: #fff;
$border-black: #000;